@charset "UTF-8";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/*для иконок*/
body {
  max-width: 1140px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto; }

a {
  text-decoration: none; }

ul li {
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header .header-gamburger-menu {
    width: 50px;
    height: 50px;
    padding: 10px; }
  .header .button-gumburger-menu {
    background-color: #ffffff;
    border: none; }
  .header .heder-social-menu {
    display: inline-flex;
    flex-direction: row; }

li {
  list-style-type: none; }

.fa {
  padding: 8px; }

/*.portfolio-section {
  background: url("../img/portfolio/men1.jpg") no-repeat;
  background-size: contain;
} */
/*
.portfolio-info-popup {
  display: block;
  justify-content: flex-end;
  color: #362f2f;
  font-family: "Roboto Condensed", sans-serif;
  width: 240px;
  height: 240px;
*/
.portfolio-info-popup-text {
  padding-left: 20px;
  background-color: #ffffff; }

.portfolio-actor-name {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase; }

.portfolio-actor-title {
  width: 159px;
  height: 56px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px; }

.portfolio-info-popup-icon {
  display: inline-flex;
  justify-content: space-around;
  color: #c29f00; }

.fa-compress {
  display: flex;
  justify-content: flex-end; }

.portfolio-fa-angle-button {
  background-color: #362f2f;
  color: #ffffff;
  margin: -2px;
  border: 0; }

.bottom-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.bottom-workshop img {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  flex: 1; }

.bottom-workshop-text {
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  margin-top: -5px; }

.bottom-workshop-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 14px;
  text-transform: uppercase;
  padding: 10px; }

.bottom-workshop-date {
  font-size: 18px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  padding: 15px; }

.bottom-workshop-time {
  /* Text style for "9:00am - 4" */
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px; }

.bottom-workshop-square {
  width: 68px;
  height: 68px;
  background-color: #c3a000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto; }

.bottom-news {
  color: #362f2f;
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 40px;
  display: block;
  flex: 1; }

.bottom-news-list {
  margin: 0;
  padding: 0; }

.news-foto {
  float: left;
  padding-right: 30px; }

.bottom-news-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  /* Text style for "news" */
  letter-spacing: 1.6px; }

.bottom-news-title-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  /* Text style for "New Galler" */
  letter-spacing: 1.2px; }

.bottom-news-title-data {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  /* Text style for "0, 9.12.20" */
  letter-spacing: 1.1px; }

.bottom-news-title-text {
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  /* Text style for "L, orem ip" */
  letter-spacing: 1.2px; }

.news-read {
  color: #c3a000; }

/*------ CONTACT ---------------------------------------------*/
.bottom-contact {
  display: inline-block;
  max-width: 320px;
  flex: 1; }

.logo-black {
  display: block;
  float: left; }

.botoom-fa {
  display: flex;
  padding: 5px;
  flex-direction: column; }

.bottom-contact-social-menu {
  display: inline-flex;
  flex-direction: row; }

.contact-icon-twitter {
  display: flex;
  justify-content: center;
  padding: 20px; }

.contact-text {
  color: #c3a000;
  text-align: center; }

.contact-text-email {
  color: #000000; }

.footer-logo {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.footer-logo-element {
  padding: 70px 30px; }

.footer-text {
  margin: auto;
  display: block;
  justify-content: center;
  align-content: center;
  max-width: 250px;
  text-align: center;
  padding: 50px; }

.footer-text-end {
  display: flex;
  justify-content: center; }

.nav-menu_ul_2 {
  background: royalblue; }

.nav-menu_ul_3 {
  background: greenyellow; }

nav {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #362f2f; }

.nav-menu * {
  margin: 0;
  padding: 0;
  color: #362f2f;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "Editorial" */
  letter-spacing: 1.2px; }

.nav-menu a:hover {
  color: #c3a000;
  transition: all 0.3s ease; }

.nav-menu a {
  transition: all 0.3s ease; }

.nav-menu_ul_1 {
  display: flex; }

.nav-menu_ul_1_li > a {
  display: block;
  background: aquamarine;
  font-size: 12px;
  padding: 20px; }

.nav-menu_ul_2 {
  position: absolute;
  min-width: 120px;
  text-align: left;
  padding-left: 15px;
  display: none; }

.nav-menu_ul_3 {
  position: absolute;
  right: -90px;
  padding-left: 15px;
  display: none; }

.nav-menu_ul_1:hover .nav-menu_ul_2 {
  display: block; }

.nav-menu_ul_2_li_4:hover .nav-menu_ul_3 {
  display: block;
  position: relative;
  top: -40 px; }
