.contact-container {
  background-image: url("../img/contact/bg-contact.jpg");
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.contact-title {
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
}
.contact-button {
  text-align: center;
  margin: auto;
  align-items: center;
  display: block;
  }