.post-container {
  position: relative;
  top: -400px;  //как другим способом наложить на верх секции?
}
.news-title-block-post {
  position: relative;
  top: - 142px;
  width: 450px;
}
.post-paragrapg-text {
  padding: 15px;
}