.news-section {
  position: relative;
  top: -450px;  //как другим способом наложить на верх секции?
}
.page-title-news {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 74px;
  text-transform: none;
}