/*.portfolio-section {
  background: url("../img/portfolio/men1.jpg") no-repeat;
  background-size: contain;
} */
/*
.portfolio-info-popup {
  display: block;
  justify-content: flex-end;
  color: #362f2f;
  font-family: "Roboto Condensed", sans-serif;
  width: 240px;
  height: 240px;
*/
  .portfolio-info-popup-text{
    padding-left: 20px;
    background-color: #ffffff;
  }
  .portfolio-actor-name {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .portfolio-actor-title {
    width: 159px;
    height: 56px;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
  }

.portfolio-info-popup-icon {
  display: inline-flex;
  justify-content: space-around;
  color: #c29f00;
}
.fa-compress {
  display: flex;
  justify-content: flex-end;
}

.portfolio-fa-angle-button {
  background-color: #362f2f;
  color: #ffffff;
  margin: -2px;
  border: 0;
}